/* DESKTOP VIEW */

.sliderStyles {
  height: 100%;
  position: relative;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 25px;
  font-size: 40px;
  color: #d3c1ae;
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 25px;
  font-size: 40px;
  color: #d3c1ae;
  z-index: 1;
  cursor: pointer;
}

.dotContainerStyle {
  display: flex;
  justify-content: center;
}

.dotStyle {
  margin: 0 3px;
  cursor: pointer;
  font-size: 35px;
}

/* MOBILE VIEW */

@media only screen and (max-width: 450px) {
  .sliderStyles {
    max-height: 70%;
    max-width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .leftArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 25px;
    font-size: 40px;
    color: #fff;
    z-index: 1;
  }

  .rightArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 25px;
    font-size: 40px;
    color: #fff;
    z-index: 1;
  }

  .dotContainerStyle {
    display: flex;
    justify-content: center;
  }

  .dotStyle {
    margin: 0 3px;
    cursor: pointer;
    font-size: 35px;
  }
}
