/* DESKTOP VIEW */

.form-container {
    margin: 0 30%;
    height: 50vh;
    padding-top: 8px;
}

.logInForm {
    display: flex;
    flex-direction: column;
}

.logInInputs {
   display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cancelContainer {
    display: flex;
    justify-content: flex-end;
}

.cancelBtn {
    color: red;
}

.logInInfo {
    margin-top: 50px;
}







/* MOBILE VIEW */

@media only screen and (max-width: 450px) {

}
    