.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.authTitle {
  font-weight: 600;
  align-content: center;
  font-family: 'Playfair Display', serif;
  font-size: 57.88px;
  line-height: 24.6px;
  text-align: center;
letter-spacing: -0.723549px;
color: #000000;
text-shadow: 0px 5.7884px 5.7884px rgba(0, 0, 0, 0.25);
padding-top: 111px;
padding-bottom: 85px;
}

.authBtnContatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding-top: 35px;
}

.authBtnContatiner button {
  background-color: #E6C783;
  border: 1.4471px solid #000000;
  box-shadow: 0px 5.7884px 5.7884px rgba(0, 0, 0, 0.25);
  width: 195.36px;
height: 62.23px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 600;
font-size: 31.8362px;
line-height: 25px;
/* or 77% */
text-align: center;
letter-spacing: -0.723549px;
color: #000000;
text-decoration: none;
}