/* DESKTOP VIEW */

.background-wrapper {
  margin-top: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryButtons {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
/* MOBILE VIEW */

/* @media only screen and (max-width: 450px) {

    .background-wrapper {
        margin-top: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

} */
